ul#chat {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#chat li .profile {
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    vertical-align: baseline;
}

#chat li { display: table-row; }
#chat li .user {
    display: table-cell;
    width: max-content;
    padding-right: 0.5em;
}
.irc #chat li .user::before { content: "<"; }
.irc #chat li .user::after  { content: ">"; }
